appnope==0.1.0
backports.shutil-get-terminal-size==1.0.0
decorator==4.3.0
Django==4.2.18
enum34==1.1.6
#ipdb==0.11
#ipython==5.7.0
#ipython-genutils==0.2.0
pathlib2==2.3.2
pexpect==4.6.0
pickleshare==0.7.4
prompt-toolkit==1.0.15
ptyprocess==0.5.2
Pygments==2.15.0
pytz==2018.4
scandir==1.10.0
simplegeneric==0.8.1
six==1.11.0
traitlets==4.3.2
wcwidth==0.1.7
pillow==11.0.0
#psycopg2==2.7.5
psycopg2-binary
django-import-export==4.2.0
simplejson==3.16.0
django-flat-responsive
django-simple-captcha==0.6.0
apscheduler
dj-database-url
