{% extends "base.html" %}

{% load static i18n custom_filters %}

{% block title %}{% trans "Home" %}{% endblock %}

{% block main %}
    <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="record">
        <h2 class="w3-wide w3-center">RECORDS</h2>
        <p class="w3-opacity"><i>Jai Jinendra</i></p>

        {% if not phone_number and records %}
            <p> {{ records.0.mandir.name }} </p>
        {% endif %}

        {% if request.user.is_authenticated %}
            <div id="piechart_3d" style="width: 100%; min-height: 450px;"></div>
        {% endif %}


        <table class="w3-table w3-bordered w3-table-all w3-centered" style="overflow: scroll;">
            <tr>
                {% if phone_number %}
                    <th>{% trans 'Sr. No.' %}</th>
                    <th>{% trans 'MANDIR NAME' %}</th>
                {% endif %}
                <th>{% trans 'TITLE' %}</th>
                <th>{% trans 'NAMES' %}</th>
                <th>{% trans 'BOLI DATE' %}</th>
                {% if phone_number or request.user.is_authenticated %}
                    <th>{% trans 'AMOUNT' %}</th>
                {% endif %}
                {% if request.user.is_authenticated %}
                    <th>{% trans 'SMS' %}</th>
                {% else %}
                    <th>{% trans 'Pay Option' %}</th>
                {% endif %}
            </tr>
            {% if records %}
                {% for record in records %}
                    <tr>
                        {% if phone_number %}
                            <td style="vertical-align:middle !important">
                                <input type="checkbox" id="{{record.id}}" name="mandir"
                                       value="{% if record.remaining_amt %}{{record.remaining_amt}}{% else %}{{record.amount}}{% endif %}" onchange="update(this);">
                            </td>
                            <td style="vertical-align:middle !important">{{ record.mandir.name }}</td>
                        {% endif %}
                        <td style="vertical-align:middle !important">{{record.get_title}}</td>
                        <td style="vertical-align:middle !important">
                            {% if record.account.description %}
                                {{ record.description|safe }}
                            {% else %}
                                <i style="color:blue;">Entry corresponding to default number</i><br>
                                {{ record.get_default_description }}
                            {% endif %}
                        </td>
                        <td style="vertical-align:middle !important">
                            {{record.boli_date|date}}
                            {% if record.remaining_amt and phone_number %}
                                <br>
                                <b style="color:blue">Original Boli Amount</b> <br><b style="color:red">{{record.amount}}/-</b><br>
                            {% endif %}
                        </td>
                        {% if phone_number or request.user.is_authenticated %}
                            <td style="vertical-align:middle !important" class="w3-small">
                                {% if record.remaining_amt %}
                                    {% trans 'Remaining'%}<br>
                                    <b>{{record.remaining_amt}}/-</b><br>
                                {% else %}
                                    <b>{{record.amount}}/-</b><br>
                                {% endif %}
                                <input id="checkbox" type="checkbox" class="w3-tooltip" title="Send an email"
                                        onclick="display_model('{{record.id}}',
                                        '{% if record.remaining_amt %}{{record.remaining_amt}}{% else %}{{record.amount}}{% endif %}',
                                        '{{record.boli_date|date}}', 'None', '{{record.account.pan_card}}')">
                                {% trans 'Paid' %} <br/>
                                {% if record.amount > 5001 %}
                                    {% if not record.remaining_amt or record.remaining_amt > 5001 %}
                                        {% trans 'Or'%}<br/>
                                        <input id="Pcheckbox" type="checkbox" class="w3-tooltip" title="Send an email"
                                                onclick="display_model('{{record.id}}',
                                                '{% if record.remaining_amt %}{{record.remaining_amt}}{% else %}{{record.amount}}{% endif %}',
                                                '{{record.boli_date|date}}', 'PP', '{{record.account.pan_card}}')">
                                        {% trans 'Partially Paid' %}
                                    {% endif %}
                                {% endif %}
                            </td>
                        {% endif %}
                        <td style="vertical-align:middle !important" class="w3-small">
                            {% if request.user.is_authenticated %}
                                {% create_message sms_message record.get_title record.amount record.boli_date|date as app_message %}
                                <a href="https://wa.me/+91{{record.account.phone_number}}?text={{app_message|urlencode|safe}}" target="_blank">WhatsApp</a>
                                <br/>OR <br/>
                                <a href="sms:+91{{record.account.phone_number}}?body={{app_message|safe}}" target="_blank">Regular SMS</a>
                            {% else %}
                                <button onclick="openGooglePay({{record.amount}})">
                                    <img src="{% static 'images/gpay.svg' %}" width="20px" alt="Google Pay" class="gpay-icon">
                                </button>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                {% if total_amt %}
                    <tr><td colspan="7">
                        <div class='pm-button' style="float: left; width: 30%;">
                            Selected Amount :- <span id='chk_total'>0</span><br/>
                            <input type="hidden" id="smtArrId" value="">
                            <input id="chb_amt" type="checkbox" disabled class="w3-tooltip" title="Send an email"
                                    onclick="display_model(document.getElementById('smtArrId').value,
                                            document.getElementById('chk_total').textContent,
                                            '{{records.0.boli_date|date}}', 'None', '{{records.0.account.pan_card}}')">
                            {% trans 'Paid selected amount' %} <br/>
                            <button onclick="openGooglePay(document.getElementById('chk_total').textContent)">
                                <img src="{% static 'images/gpay.svg' %}" width="20px" alt="Google Pay" class="gpay-icon">
                            </button>
                        </div>
                        <div style="float:right;">
                            Total :- <b>{{ total_amt }}/-</b> <br/>
                            <input id="paid_chk" type="checkbox" class="w3-tooltip" title="Send an email"
                                    onclick="confirmationUserAction('{{total_amt}}')">
                            {% trans 'Paid' %}
                            <button onclick="openGooglePay({{total_amt}})">
                                <img src="{% static 'images/gpay.svg' %}" width="20px" alt="Google Pay" class="gpay-icon">
                            </button>
                        </div>
                    </td></tr>
                {% endif %}
            {% else %}
                <tr><td colspan="5"><center>
                    {% if phone_number %}
                        <span style="font-weight:bold; color:blueviolet;">Thanks for the donations</span> <br>
                    There is no record in <b>not paid</b> status for {{phone_number}}
                    {% else %}
                       No record found !
                    {% endif %}
                </center></td></tr>
            {% endif %}
        </table>
    </div>
    {% include 'update_form.html' %}
    {% include 'confirmation_check.html'%}
{% endblock %}

{% block extra_js %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['bar']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable({{month_data|safe}});

        var options = {
          chart: {
            title: '{{mandir}}',
            subtitle: 'Records paid and not paid: {{month_range}}',
          },
          colors: ['#509B52', '#FF0000'],
          bars: 'vertical' // Required for Material Bar Charts.
        };

        var chart = new google.charts.Bar(document.getElementById('piechart_3d'));

        chart.draw(data, google.charts.Bar.convertOptions(options));
      }
    drawChart();
    </script>
    <script>
        const panInput = document.getElementById('id_pan_card');

        panInput.addEventListener('input', function () {
            this.value = this.value.toUpperCase();
        });
    </script>

{% endblock %}
